body {
    font-family: Arial, sans-serif;
    background-color: #2C2F33;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#person-list {
    display: flex; /* استخدام flexbox لمحاذاة الملفات المصغرة */
    flex-wrap: wrap; /* السماح بتغليف العناصر */
    justify-content: center; /* توسيط العناصر */
}

.person-card {
    background-color: #3C3F41;
    border: 1px solid #424549;
    border-radius: 8px;
    padding: 70px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s;
   /*width: 30px; /* عرض ثابت للملف المصغر */
    text-align: center; /* توسيط النص */
}

.person-card:hover {
    transform: scale(1.05);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #424549;
    background-color: #2C2F33;
    color: #FFFFFF;
    font-size: 16px;
}

.button {
    background-color: #7289DA; /* لون الأزرار العادية */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px;
}

.button:hover {
    background-color: #5B6E9A; /* لون الخلفية عند المرور */
    transform: scale(1.05); /* تأثير التكبير عند المرور */
}

.action-button {
    background-color: #3498db; /* اللون الأزرق للأزرار الخاصة بالحذف والعرض والتعديل */
}

.action-button:hover {
    background-color: #2980b9; /* لون الخلفية عند المرور */
}

.search-bar {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

.profile-picture {
    text-align: center;
    width: 100px;
   
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.actions button {
    flex: 1;
    margin: 0 5px;
}
.person-card img {
    width: 100px; /* عرض ثابت للصورة */
    height: 100px; /* ارتفاع ثابت للصورة */
    border-radius: 50%; /* يجعل الصورة دائريّة */
    object-fit: cover; /* يضمن أن الصورة تملأ الدائرة بشكل جيد */
}